---
import { Image } from "astro:assets";

let {
    data: {
        data: { hero_image, title, date, path }, 
    },
} = Astro.props;
---
<a href={path}>
    <div class="group_470 flex items-center">
        <Image src={hero_image} alt={`${title}-image`} class="md:w-full md:h-auto h-full w-auto" />
        <div class="gap-x-2 flex flex-col justify-center items-start">
            <div
            class="font-['RedHat Display'] w-[23.3125rem] text-black font-semibold leading-[normal]"
            >
            {title}
        </div>
        <div
        class="font=['RedHat Text'] w-[14.875rem] text-black/[.60] text-xs leading-[normal]"
        >
        {date}
    </div>
</div>
</div>
</a>
