---
let {
    page_info: { title, description, image, keywords },
} = Astro.props;
---

<!-- <head> -->
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={image} />
    <meta name="description" content={description} />
    <meta name="image" content={image} />
    {keywords ? <meta name="keywords" content={keywords} /> : null}
    {/* Open graph / Facebook */}
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <!-- <meta property="og:type" content={defaultSiteMetadata.og.type} /> -->
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url.pathname} />
    {/* Twitter */}
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <!-- <meta name="twitter:card" content={defaultSiteMetadata.twitter.card} /> -->
    <!-- <meta
  name="twitter:creator"
  content={defaultSiteMetadata.twitter.creator}
/> -->
    <!-- <meta name="twitter:site" content={defaultSiteMetadata.twitter.creator} /> -->
    <meta name="twitter:image" content={image} />
<!-- </head> -->
